.pdf-mode {
    font-size: 10pt;
    color: black;
    background: white;
}

.pdf-mode [class*="content"],
.pdf-mode [class*="column"] {
    display: block;
    width: 100%;
    page-break-inside: avoid;
    break-inside: avoid;
    padding: 0;
}

.pdf-mode [class*="bottomRow"],
.pdf-mode [class*="themeToggle"] {
    display: none;
}

.pdf-mode div {
    background-color: transparent;
}

.pdf-mode .experienceInfoTag {
    display: none;
}

.pdf-mode h1,
.pdf-mode h2,
.pdf-mode h3,
.pdf-mode p {
    display: block;
    color: black;
}

.pdf-mode p {
    display: block;
    color: black;
}

.pdf-mode h1 {
    font-size: 16pt;
}

.pdf-mode h2 {
    font-size: 14pt;
}

.pdf-mode h3,
.pdf-mode [class*="resumeDescription"],
.pdf-mode [class*="description"] {
    font-size: 11pt;
}

.pdf-mode img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.pdf-mode [class*="aboutMe"] [class*="tag"] {
    display: inline;
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0 4px 0 0;
    font-size: 10pt;
    position: relative;
}

.pdf-mode [class*="aboutMe"] [class*="tag"] {
    display: inline;
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0 4px 0 0;
    font-size: 10pt;
    position: relative;
}

.pdf-mode span {
    background-color: #F2F2F2;
    color: #5F5F5F;
    padding: 7px;
    margin: 5px;
    border-radius: 10px;
}

.pdf-mode [class*="resumeHeader"], .pdf-mode [class*="resumeTitle"], .pdf-mode [class*="resumeDescription"], .pdf-mode [class*="header"], .pdf-mode [class*="description"] {
    margin-left: -20px;
}

.pdf-mode [class*="resumeTags"], .pdf-mode [class*="tag"]  {
    margin-left: -30px;
}

.pdf-mode [class*="aboutMe"] [class*="tag"]:not(:last-child)::after {
    content: ", ";
    color: black;
    font-size: 10pt;
}

section {
    page-break-inside: avoid;
    break-inside: avoid;
}

.pdf-mode::before {
    content: "Curriculum vitae    |    noelbuergler.ch   |   mail@noelbuergler.ch    |    +41 78 783 28 14    |    Hauptstrasse 2, CH-9320 Arbon";
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 9pt;
    color: #555;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 0 10px 10px 10px;
    white-space: pre;
    box-sizing: border-box;
}


@page {
    margin: 20mm;
}