.aboutMeWrapper {
  font-family: "SF Pro Display", sans-serif;
  letter-spacing: 0.07em;
}

.sectionTitle {
  font-size: 30px;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.aboutMe {
  background-color: var(--box-background);
  border-radius: 30px;
  padding: 2rem;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 1.5rem;
}

.title {
  font-size: 35px;
  line-height: 1.2;
  margin: 0;
  color: var(--text-color);
}

.description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25rem;
}

.tag {
  background-color: var(--about-me-tag-background);
  color: var(--about-me-text-color);
  font-size: 14px;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  margin: 0.25rem;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .profilePicture {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }
}
