:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --tag-background: #f0f0f0;
}

:root.dark-mode {
  --background-color: #141414;
  --text-color: #f2f2f2;
  --about-me-tag-background: #e85f46;
  --about-me-text-color: #fff1e6;
  --tag-background: #5368ff;
  --tag-text-color: #e6e9ff;
  --infotag-background: #3e3e3e;
  --infotag-text-color: #f2f2f2;
  --box-background: #272727;
}

:root.light-mode {
  --background-color: #eef1f9;
  --text-color: #141414;
  --about-me-tag-background: #fff1e6;
  --about-me-text-color: #ff2700;
  --tag-background: #e6e9ff;
  --tag-text-color: #001fff;
  --infotag-background: #f2f2f2;
  --infotag-text-color: #5f5f5f;
  --box-background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light-mode) {
    --background-color: #141414;
    --text-color: #f2f2f2;
    --about-me-tag-background: #e85f46;
    --about-me-text-color: #fff1e6;
    --tag-background: #5368ff;
    --tag-text-color: #e6e9ff;
    --infotag-background: #3e3e3e;
    --infotag-text-color: #f2f2f2;
    --box-background: #272727;
  }
}

@media (prefers-color-scheme: light) {
  :root:not(.dark-mode) {
    --background-color: #eef1f9;
    --text-color: #141414;
    --about-me-tag-background: #fff1e6;
    --about-me-text-color: #ff2700;
    --tag-background: #e6e9ff;
    --tag-text-color: #001fff;
    --infotag-background: #f2f2f2;
    --infotag-text-color: #5f5f5f;
    --box-background: #ffffff;
  }
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
}

body {
  min-height: 100vh;
}
